*{
    padding:0;
    margin:0;
}

.mainpanel{
    border: black 3px solid;
    border-radius: 10px;
    padding: 40px 60px 20px 60px;
    text-align: center;

}

table{
    font-family: arial,sans-serif;
    border-collapse: collapse;
    width:100%;
}
td,th{
    text-align: left;
    padding:8px;
}
tr:nth-child(even){
    background-color: #dddddd;
}